.container{
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.error{
  display: table-cell;
  vertical-align: middle;
}

.error h1{
  font-size: 50px;
  font-weight: 700;
  display: inline-block;
  padding-right: 12px;
  color: #f1f1f1;
  animation: type .5s alternate infinite;
}

@keyframes type{
  from{box-shadow: inset -3px 0px 0px #ffffff;}
  to{box-shadow: inset -3px 0px 0px transparent;}
}